.cdx-collapse-wrapper {
  margin-bottom: 1.2rem 0;
}

.cdx-collapse-header {
  display: flex;
  align-items: center;
  padding: 10px 1px;
}

.cdx-collapse-title {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  width: 60%;
  height: 32px;
  color: rgba(0, 0, 0, 0.65);
  border: none;
  line-height: 1.2;
  background-color: transparent;
  background-image: none;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: text;
}

.cdx-collapse-title[placeholder]:empty:before {
  content: attr(placeholder);
  color: grey;
  font-style: italic;
}

.cdx-collapse-toggle {
  display: block;
  transition: all 0.25s ease-out;
  cursor: pointer;
}

.cdx-collapse-toggle::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid currentColor;
  vertical-align: middle;
  margin-right: 15px;
  margin-top: -2px;
  cursor: pointer;
  transform: translateY(-1px);
  transition: transform 0.3s ease-out;
}

.cdx-collapse-toggle-checked {
  transform: rotate(90deg) translate(5px, 5px);
}

.cdx-collapse-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.cdx-collapse-content-checked {
  max-height: 350px;
}

.cdx-collapse-content .content-inner {
  position: relative;
  font-size: 1em;
  border-left: 1px dashed;
  border-left-color: #dddfe2;
  margin-left: 7px;
  padding: 6px 0;
  padding-left: 22px;
  padding-bottom: 26px;
  line-height: 1.6em;
  outline: none;
  cursor: text;
}

.cdx-collapse-content .content-inner:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 9px;
  border-radius: 3px;
  background: #dddfe2;
  bottom: 0px;
  left: -5px;
}

.cdx-collapse-content .content-inner[placeholder]:empty:before {
  content: attr(placeholder);
  color: grey;
  font-style: italic;
}
