.cdx-column-collapse-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 12px 0;
  margin-bottom: 1.2rem 0;
}

.cdx-column-collapse-title {
  min-width: 25%;
  max-width: 30%;
  margin-right: 5%;
  cursor: text;
  outline: none;
  box-sizing: border-box;
  padding: 4px;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
}

.cdx-column-collapse-title[placeholder]:empty:before {
  content: attr(placeholder);
  color: grey;
  font-style: italic;
}

.cdx-column-collapse-content {
  /* max-height: 40px; */
  flex-grow: 1;
  /* overflow: hidden; */
  transition: max-height 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.cdx-column-collapse-content .content-inner {
  font-size: 15px;
  line-height: 1.8em;
  outline: none;
  cursor: text;
}

.cdx-column-collapse-content .content-inner[placeholder]:empty:before {
  content: attr(placeholder);
  color: grey;
  font-style: italic;
}

.cdx-column-collapse-toggle {
  width: 45px;
  line-height: 19px;
  font-size: 11px;
  color: #6f7683;
  background: #eff2f5;
  padding: 0 6px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.cdx-column-collapse-toggle svg {
  fill: #6f7683;
  width: 8px;
  height: 8px;
  margin-right: 2px;
  margin-top: -3px;
}
