.cdx-column-collapse-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 12px 0;
  margin-bottom: 1.2rem 0;
}

.cdx-column-collapse-title {
  letter-spacing: 1px;
  min-width: 25%;
  max-width: 30%;
  margin-right: 5%;
  cursor: text;
  outline: none;
  box-sizing: border-box;
  padding: 4px;
  padding-left: 0;
  font-size: 1.05em;
  font-weight: bold;
}

.cdx-column-collapse-title[placeholder]:empty:before {
  content: attr(placeholder);
  color: grey;
  font-style: italic;
}

.cdx-column-collapse-content {
  /* max-height: 40px; */
  flex-grow: 1;
  /* overflow: hidden; */
  transition: max-height 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.cdx-column-collapse-content .content-inner {
  font-size: 1em;
  line-height: 1.8em;
  min-height: 25px;
  outline: none;
  cursor: text;
  word-break: break-all;
}

.cdx-column-collapse-content .content-inner[placeholder]:empty:before {
  content: attr(placeholder);
  color: grey;
  font-style: italic;
}

/* span 标签在设置成 contentEditable 后光标会出现问题, see https://www.google.com/search?sxsrf=ALeKk03wMsY5DAje6aM3Rt52CbE0YBFEKQ%3A1611904360046&ei=aLUTYPC_AtHrwQOloLfQCA&q=contenteditable+span+cursor+not+show&oq=contenteditable+span+cursor+not+show&gs_lcp=CgZwc3ktYWIQAzIFCCEQoAE6BAgAEEc6BAgjECc6AggAOgQIABBDOgQIABAMOgUIABDLAToECAAQHjoGCAAQBRAeOgYIABAIEB46BwghEAoQoAFQvAdY6S1g8TFoAHADeACAAYEEiAHYLZIBDDAuNC4xMC40LjEuMpgBAKABAaoBB2d3cy13aXrIAQjAAQE&sclient=psy-ab&ved=0ahUKEwjwk6vWy8DuAhXRdXAKHSXQDYoQ4dUDCA0&uact=5*/
.cdx-column-collapse-content .content-inner:focus[placeholder]:empty:before {
  border-left: 1px solid grey;
  animation: blink-animation 0.8s infinite;
  -webkit-animation: blink-animation 0.8s infinite;
}

.cdx-column-collapse-toggle {
  display: inline;
  width: auto;
  font-size: 0.7em;
  color: #6f7683;
  background: #eff2f5;
  padding: 3px 6px;
  padding-top: 4px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.cdx-column-collapse-toggle svg {
  fill: #6f7683;
  width: 8px;
  height: 8px;
  margin-right: 2px;
  margin-top: -3px;
}

@keyframes blink-animation {
  from {
    border-left-color: transparent;
  }
  to {
    border-left-color: inherit;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
